<% include ./parts/header %>

<p>Enter the secret passcode to gain admin rights.</p>
<% if (user) { %>
    <form action="" method="POST">
        <label for="password">Secret Passcode: </label>
        <input type="password" name="password" id="password" />
        <input type="submit" />
    </form>
<% } else { %>
    <p>You must be logged in to gain admin rights.</p>
<% } %>

<% include ./parts/footer %>